#canvas-fundo {
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	border: 3px solid black;
	box-shadow: 3px 0px 10px black;
	border-radius: 15px;
	background-color: #1357af;
}

#canvas-fundo:hover {
	transition-delay: 100ms linear;
	top: 20px;
	opacity: .9;
	animation: pulsar .6s ease infinite;
}

body {
	background-color: #0BB6BD;
}

@keyframes pulsar {
    0% {
        transform: translateY(0px);
    }

	50% {
		transform: translateY(-15px);
	}

    100% {
        transform: translateY(0px);
    }
}